.header {
    -fx-background-color: #263238;
    -fx-background-radius: 0;
}
.body {
    -fx-background-color: #37474F;
    -fx-background-radius: 0;
}


.button {
    -fx-background-color: #263238;
    -fx-border-color: #263238;
    -fx-background-radius: 0;
}
.button:hover {
    -fx-background-color: #455A64;
    -fx-border-color: #455A64;
    -fx-background-radius: 0;
}

.close-button {
     -fx-background-color: #263238;
     -fx-border-color: #263238;
    -fx-background-radius: 0;
 }
.close-button:hover {
    -fx-background-color: #ff3333;
    -fx-border-color: #ff3333;
    -fx-background-radius: 0;
}

.auth-h1 {
    -fx-background-color: #263238;
    -fx-border-color: #263238;
    -fx-background-radius: 0;
}

.author {
    -fx-background-color: #263238;
    -fx-border-color: #263238;
    -fx-background-radius: 0;
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.input {
    -fx-background-radius: 0;
    -fx-border-radius: 0;

    -fx-border-color: rgba(0, 0, 0, 0);
    -fx-background-color:
            rgba(0, 0, 0, 0),
            #FFFFFF;
}